<%= render "public/public_header" %>

<div>
  <%= link_to posts_path do %>
  <h4><%= @customer.first_name %><%= @customer.last_name %>さんの出品</h4>
  <% end %>
</div>

<div>
  <h4>ユーザー情報詳細</h4>
</div>

<div>
  <h4>ユーザー情報更新</h4>
</div>

<div>
  <h4>取引履歴</h4>
</div>