<%= render "public/public_header" %>


<h3><%= @customer.nickname %>さん</h3>

<h4>自己紹介欄</h4>
<% if @customer.introduction.nil? %>
  <div>自己紹介がありません</div>
<% else %>
  <%= @customer.introduction %>
<% end %>

<div>
  <%= link_to "出品中の商品", list_path(id: @customer.id) %>
</div>
