<div class = "container-fluid">
  <nav class = "navbar bg-secondary">
    <div class = "row">
      <div class = "col offset-2">
        <%= link_to "トップ", admin_top_path, class: "text-dark" %>
      </div>
  
      <div class = "col">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </div>
    </div>
  </nav>
</div>