<%= render "public/public_header" %>

<div class = "container">
  <div class = "row text-center">
    <div class = "col">
      <h1>購入完了です！</h1>
    </div>
  </div>
  
  <div class = "row text-center">
    <div class = "col">
      <h3>ご利用ありがとうございました！</h3>
    </div>
  </div>
  
  <div class = "row pt-5">
    <div class = "col">
      <p>
      こちらから払込完了手続きしてください。支払い完了後発送されます。|
      <%= link_to "購入履歴一覧画面", contract_path(id: session[:post_id]) %>
      </p>
    </div>
  </div>
  
</div>